.ab-fade {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.ab-fade-l {
  animation-name: animate-fade-l;
  animation-fill-mode: backwards;
}

.ab-time--1 {
  animation-duration: 0.5s;
  animation-delay: 0.5s;
}

.ab-time--2 {
  animation-duration: 0.5s;
  animation-delay: 0.8s;
}

.ab-time--3 {
  animation-duration: 0.5s;
  animation-delay: 1.1s;
}

.ab-time--4 {
  animation-duration: 0.5s;
  animation-delay: 1.4s;
}

.ab-min-h88 {
  min-height: 88vh;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes animate-fade-l {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes animate-fade {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
